@keyframes blink-effect { 50% { opacity: 0; } } 

.blink { 
    animation: blink-effect 1.5s step-end infinite; 
    color: #ffffff;
} 
/* 반짝이는 효과 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* nav */
a:link, a:visited {
  text-decoration: none;
  color: #EAFDFC;
}

.container {
  width: 960px;
  margin: 0 auto;
}

nav {
  height: 80px;
  background-color: #0A2647;
  line-height: 80px;
}

.nav-logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin: 0;
}

.nav-menu {
  float: right;
}

.nav-btn {
  list-style-type: none;
  margin: 0;
}

a:hover {
  color: #91D8E4;
}

a:active {
  color: #000000;
}

ul.nav-btn >li {
  float: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}

/* header */
.hd {
  position: relative;
  height: 500px;
  text-align: center;
  background-color: #144272;
}

.hd-title {
  font-size: 80px;
  margin-top: 0;
  margin: bottom 10px;
  padding-top: 40px;
}

.hd-content {
  font-size: 40px;
  color: #ffffff;
}

.hd-content2 {
  font-size: 20px;
  color: #ffffff;
}

.hd.container {
  position: relative;
  color: black;
}

/* section */
.sec {
  text-align: center;
  padding: 100px 0;
  background-color: #205295;
  color: #ffffff;
}

.sec article {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.set article:last-child {
  margin-right: 0;
}

.card-img {
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.border {
  border-radius: 20%;
}

.sec::after {
  content: "";
  display: block;
  clear: both;
}

/* footer */
.ft {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  background-color: #0A2647;
  font-weight: bold;
}