.container {
  background-color: beige;
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  
}
.item {
  width: 400px; height: 400px;
}
.item1 {
  background-color:  #B2A4FF;
}
.item2 {
  background-color: #FFB4B4;
}
.item3 {
  background-color:  #FFDEB4;
}
.item4 {
  background-color:  #FDF7C3;
}